.main {
  &__achievements {
    @include adaptiveValue("padding-bottom", 103, 20);
    background-color: #c9e8f2;
    @include adaptiveValue("padding-top", 55, 0);
    @include adaptiveValue("padding-right", 21, 0);
    @include adaptiveValue("padding-left", 20, 0);
  }
}
.achievements {
  &__container {
    display: flex;
    @include adaptiveValue("gap", 82, 10);
    @media (max-width: rem(942)) {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
  }
  &__info {
    @include adaptiveValue("padding-top", 5, 0);
    flex: 1 1 auto;
  }
  &__descriptions {
    font-family: graphik;
    font-weight: 400;
    @include adaptiveValue("font-size", 30, 20);
    line-height: math.div(40, 30);
    letter-spacing: rem(0);
    color: #000000;
    @include adaptiveValue("margin-bottom", 26, 10);
  }
  &__autor {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: em(15);
    line-height: math.div(25, 17);
    letter-spacing: rem(-1.5);
    color: #000000;
    @include adaptiveValue("margin-bottom", 5, 10);
  }
  &__icons {
  }
  &__img {
  }
}
