.footer {
  &__footer {
  }
}
.footer-footer {
  @include adaptiveValue("padding-top", 44, 20);
  @include adaptiveValue("padding-bottom", 8, 20);
  &__container {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 50, 20);
    justify-content: space-between;
    @media (max-width: rem(584)) {
      justify-content: center;
      text-align: center;
    }
  }
  &__logo {
    flex: 1 1 auto;
    display: flex;
    gap: rem(10);
    flex-wrap: wrap;
    @media (max-width: rem(584)) {
      justify-content: space-between;
    }
  }
  &__logo-icon {
    flex: 0 1 auto;
    @media (max-width: rem(584)) {
      flex: 1 1 auto;
      max-width: 100%;
    }
  }
  &__logo-text {
    justify-content: center;
    flex: 1 1 auto;
    max-width: rem(260);
    font-family: graphik;
    font-weight: 400;
    font-size: rem(9);
    line-height: math.div(15, 12);
    @media (max-width: rem(584)) {
      flex: 1 1 auto;
      max-width: 100%;
    }

    color: #000000;
  }
  &__deskription {
    @include adaptiveValue("padding-right", 20, 0);
  }
  &__deskription-data {
    font-family: graphik;
    font-weight: 400;
    font-size: rem(12);
    line-height: math.div(15, 12);
    color: #000000;
  }
  &__deskription-text {
    font-family: graphik;
    font-style: normal;
    font-weight: 400;
    font-size: rem(10);
    line-height: math.div(15, 12);
    color: #000000;
    @media (max-width: rem(584)) {
      flex: 1 1 auto;
    }
  }
}
