@import "base/spollers";
.footer {
  &__body {
    @include adaptiveValue("padding-top", 88, 0);
  }
}
.body-footer {
  &__container {
    display: flex;
    @include adaptiveValue("gap", 70, 20);
    flex-wrap: wrap;
    border-bottom: 1px solid #000000;
    @include adaptiveValue("padding-bottom", 96, 20);
  }
  &__card {
  }
  &__row {
    flex: 1 1 auto;
    display: grid;
    @include adaptiveValue("gap", 30, 10);
    grid-template-columns: repeat(auto-fit, minmax(rem(180), 1fr));
    @media (max-width: rem(928)) {
      flex: 1 1 auto;
      justify-content: center;
      text-align: center;
    }
  }
  &__item {
  }
}
.card-footer-body {
  flex: 0 1 28.68%;
  @include adaptiveValue("padding-right", 50, 0);
  @media (max-width: rem(928)) {
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
  }
  &__title {
    font-family: graphik;
    font-weight: 600;
    font-size: rem(40);
    line-height: math.div(50, 40);
    color: #000000;
    @include adaptiveValue("margin-bottom", 31, 20);
  }
  &__img {
    > img {
      width: 93.8%;
    }
    @include adaptiveValue("margin-bottom", 30, 20);
  }
  &__icon {
    @include adaptiveValue("margin-bottom", 8, 10);
  }
  &__description {
    @include adaptiveValue("margin-bottom", 15, 10);
    font-family: graphik;
    font-style: normal;
    font-weight: 400;
    font-size: rem(20);
    line-height: math.div(31, 20);
    color: #000000;
  }
  &__label {
    font-family: graphik;
    font-style: normal;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(30, 20);
    color: #000000;
  }
}
.item-footer {
  &__spoller {
  }
}
.spoller-item-footer {
  &__item {
  }
  &__title {
    @include adaptiveValue("padding-top", 7, 0);
    @include adaptiveValue("margin-bottom", 15, 10);
    font-family: graphik;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(25, 20);
    color: #000000;
  }
  &__body {
  }
}
.menu-footer {
  &__list {
  }
  &__item {
  }
  &__link {
    font-family: graphik;
    font-weight: 400;
    font-size: rem(15);
    line-height: math.div(30, 15);
    color: #000000;
  }
}
