.main {
  &__integration {
    @include adaptiveValue("padding-top", 155, 10);
    @include adaptiveValue("padding-bottom", 158, 10);
  }
}
.integration-main {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    @include adaptiveValue("padding-left", 235, 1);
    @include adaptiveValue("padding-right", 235, 1);
    font-family: graphik;
    font-weight: 600;
    @include adaptiveValue("font-size", 65, 40);
    line-height: math.div(75, 65);
    letter-spacing: rem(-4);
    text-align: center;
    color: #000000;
    @include adaptiveValue("margin-bottom", 5, 25);
  }
  &__text {
    @include adaptiveValue("margin-bottom", 16, 25);
    @include adaptiveValue("padding-left", 330, 1);
    @include adaptiveValue("padding-right", 330, 1);
    font-family: graphik;
    font-weight: 400;
    font-size: rem(25);
    line-height: math.div(30, 25);
    text-align: center;
    color: #000000;
  }
  &__img-block {
    @include adaptiveValue("margin-bottom", 40, 25);
    flex: 1 1 auto;
    > img {
      width: 100%;
      height: auto;
    }
  }
  &__btn {
    background-color: #ff6336;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: rem(193);
  }
  &__link {
    font-family: graphik;
    font-style: normal;
    font-weight: 600;
    font-size: rem(16);
    line-height: math.div(55, 16);
    text-align: center;
    color: #ffffff;
  }
}
