.main {
  &__partners {
    background-color: #ff9c7d;
    @include adaptiveValue("padding-top", 105, 20);
    @include adaptiveValue("padding-bottom", 107, 20);
    @media (max-width: rem(1121)) {
      padding-left: 0;
    }
    @media (max-width: rem(595)) {
      @include adaptiveValue("padding-top", 20, 10);
      @include adaptiveValue("padding-bottom", 80, 10);
    }
  }
}
.partners-main {
  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 75, 30);
    justify-content: center;
    align-items: center;
  }
  &__tile {
    max-width: rem(700);
    letter-spacing: rem(-1.5);
    font-family: graphik;
    font-weight: 600;
    @include adaptiveValue("font-size", 50, 30);
    line-height: math.div(50, 45);
    text-align: center;
    color: #000000;
  }
  &__items {
    display: flex;
    @include adaptiveValue("gap", 102, 40);
    justify-content: center;
    align-items: center;
    @media (max-width: rem(1154)) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 1 auto;
  }
  &__link {
    > img {
      width: 100%;
      height: auto;
    }
  }
}
