.main {
  &__performance {
    @include adaptiveValue("padding-top", 145, 20);
    @include adaptiveValue("padding-bottom", 203, 20);
  }
}
.performance-main {
  &__container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    width: 100%;
    font-family: graphik;
    letter-spacing: em(0.11);
    font-weight: 600;
    @include adaptiveValue("font-size", 50, 30);
    line-height: math.div(60, 50);
    @include adaptiveValue("margin-bottom", 90, 10);
    color: #000000;
  }
  &__content {
    @include adaptiveValue("gap", 30, 20);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
  }
  &__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  &__item-title {
    @include adaptiveValue("margin-bottom", 34, 10);
    font-family: graphik;
    order: 1;
    font-weight: 600;
    font-size: rem(30);
    line-height: math.div(40, 30);
    color: #000000;
  }
  &__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      width: 100%;
      height: 185px;
    }
    order: -1;
    @include adaptiveValue("margin-bottom", 58, 0);
  }
  &__item-deskriptions {
    order: 1;
    font-family: graphik;
    font-weight: 400;
    font-size: rem(20);
    line-height: math.div(30, 20);
    color: #000000;
    letter-spacing: 0px;
    @include adaptiveValue("margin-bottom", 0, 0);
    flex: 1 1 auto;
    height: 100%;
    .underline {
      text-decoration: underline;
    }
  }
  &__item-label {
    order: 1;
    font-family: graphik;
    font-weight: 400;
    font-size: rem(20);
    line-height: math.div(40, 20);
    text-decoration-line: underline;
    color: #000000;
    letter-spacing: -1px;
  }
}
