.main {
  &__popular {
    background-color: #dabc98;
    @include adaptiveValue("padding-top", 87, 20);
    @include adaptiveValue("padding-bottom", 90, 20);
  }
}
.popular-main {
  &__container {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: rem(959)) {
      @include adaptiveValue("gap", 90, 20);
    }
    @include adaptiveValue("gap", 108, 20);
  }
  &__description {
    flex: 1 1 44%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    @include adaptiveValue("gap", 40, 30);
    @media (max-width: 606px) {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
  }
  &__descriptio-img {
  }
  &__descriptio-title {
    font-family: graphik;
    font-weight: 600;
    @include adaptiveValue("font-size", 35, 23);
    line-height: math.div(50, 35);
    color: #000000;
    letter-spacing: rem(-0.5);
  }
  &__partners-items {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("gap", 50, 30);
    border-left: 1px solid #000000;
    @media (max-width: 959px) {
      border-left: 1px solid #00000000;
      justify-content: space-around;
    }
    @media (max-width: 606px) {
      flex-wrap: wrap;
    }
  }
  &__partners-item {
    @include adaptiveValue("padding-top", 10, 5);
  }
  &__partners-item-logo {
    @include adaptiveValue("margin-bottom", 20, 5);
  }
  &__partners-item-favorite {
    @include adaptiveValue("margin-bottom", 10, 5);
  }
  &__partners-item-descriptions {
    font-family: graphik;
    font-weight: 400;
    font-size: rem(15);
    line-height: math.div(25, 15);
    letter-spacing: rem(0.75);
    color: #000000;
  }
}
